.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Garante que ocupe a altura toda da tela */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: center;
}

.controles, .container h1{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#btnCamera, #btnMirrorCamera {
    background-color: rgba(255, 0, 0, 0);
    margin: 0 20px;
    cursor: pointer;
    list-style: none;
    padding: 15px;
    opacity: .6;
    border: 5px rgb(0, 174, 255) solid;
    border-radius: 15px;
    transition: 300ms;
    color: rgb(0, 174, 255);
}

#btnCamera:hover, #btnMirrorCamera:hover {
    opacity: 1;
    color: rgb(0, 106, 255);
}